# Environment files
.env
**/.env

# Node
node_modules/
.expo/
dist/
npm-debug.log*

# .NET
bin/
obj/
*.user
*.suo
*.cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# EAS Build
ios/
android/
*.ipa
*.apk
*.aab
